<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand titulo_principal" routerLink="/">Casa do Console</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div [ngSwitch]="menuType" class="collapse navbar-collapse">
        <!-- Default -->
        <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="vendedor">Página do Vendedor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user-auth">Login / Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrinho({{ cartItems }})</a>
          </li>
        </ul>

        <!-- Vendedor -->
        <ul *ngSwitchCase="'vendedor'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="vendedor-home">Lista de Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="adicionar-produtos"
              >Adicionar Produtos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ nomeVendedor | titlecase }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-exit" (click)="logout()">Sair</a>
          </li>
        </ul>

        <!-- Usuario -->
        <ul *ngSwitchCase="'usuario'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="vendedor">Página do Vendedor</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="my-orders">Meus Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart-page"
              >Carrinho({{ cartItems }})</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nav-exit" (click)="userLogout()">Sair</a>
          </li>
        </ul>
      </div>

      <!-- *ngIf="menuType === 'default'" -->
      <form class="d-flex" role="search">
        <input
          #searchInput
          class="form-control me-2"
          type="search"
          placeholder="Pesquisar Produto..."
          (blur)="hideSearch()"
          (keyup)="searchProducts($event)"
          aria-label="Search"
          list="searchList"
        />
        <datalist id="searchList" *ngIf="searchResult">
          <option
            *ngFor="let option of searchResult"
            [value]="option.name"
          ></option>
        </datalist>
        <button
          (click)="submitSearch(searchInput.value)"
          class="btn btn-success"
          type="submit"
        >
          Pesquisar
        </button>
      </form>
    </div>
  </div>
</nav>
