<!-- Formulário de Cadastro -->

<div class="seller-aut col-md-4 mt-5 mx-auto">
  <div *ngIf="userShowLogin" class="signup">
    <h3>Cadastrar Usuário</h3>
    <hr class="border border-success border-3 opacity-75" />
    <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
      <label class="form-label mt-3" for="email">Email</label>
      <input
        class="form-control"
        type="email"
        ngModel
        name="email"
        placeholder="Digite seu e-mail"
      />
      <label class="form-label mt-3" for="nome">Nome</label>
      <input
        class="form-control"
        type="text"
        ngModel
        name="nome"
        placeholder="Digite seu nome"
      />
      <label class="form-label mt-3" id="senha" for="senha">Senha</label>
      <input
        class="form-control"
        type="password"
        ngModel
        name="password"
        placeholder="Digite sua senha"
      />
      <button class="btn btn-success mt-3">Registre-se</button>
      <button (click)="openLoginOrSignUp()" class="btn btn-light mt-3 ms-3">
        Já possui Cadastro? Clique aqui.
      </button>
    </form>
  </div>

  <!-- Formulário de Login -->

  <div *ngIf="!userShowLogin" class="signup">
    <h3>Login do Usuário</h3>
    <hr class="border border-success border-3 opacity-75" />
    <!-- <p class="error-p">{{ authError }}</p> -->
    <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
      <label class="form-label mt-3" for="email">Email</label>
      <input
        class="form-control"
        type="email"
        ngModel
        name="email"
        placeholder="Digite seu e-mail"
      />
      <label class="form-label mt-3" id="senha" for="senha">Senha</label>
      <input
        class="form-control"
        type="password"
        ngModel
        name="password"
        placeholder="Digite sua senha"
      />
      <button class="btn btn-success mt-3">Login</button>
      <button (click)="openLoginOrSignUp()" class="btn btn-light mt-3 ms-3">
        Não possui Cadastro? Registre-se
      </button>
    </form>
  </div>
</div>
