<div class="container mx-auto mb-5" *ngFor="let product of searchResult">
  <h2 class="mt-3 mb-3">{{ product.name }}</h2>
  <hr class="border border-success border-1 opacity-50" />
  <div class="container d-flex">
    <div class="card" style="width: 18rem">
      <img [src]="product.img" [alt]="product.name" />
    </div>
    <div class="details mb-2 mt-4">
      <h4 class="ms-3 mb-3">Detalhes do Protudo</h4>
      <p class="ms-3 mb-2">
        <span>ID: {{ product.id }}</span>
      </p>
      <p class="ms-3 mb-2"><span>Nome:</span> {{ product.name }}</p>
      <p class="ms-3 mb-4"><span>Categoria:</span> {{ product.category }}</p>
      <h4 class="ms-3 mb-2"><span>Preço:</span> R$ {{ product.price }}</h4>
      <div class="ms-3 mt-5">
        <button class="btn btn-success bi bi-cart4" type="button">
          Comprar
        </button>
        <button
          routerLink="/details/{{ product.id }}"
          class="btn btn-dark ms-1"
          type="button"
        >
          Ver Mais
        </button>
      </div>
    </div>
  </div>
</div>
