<div class="container mx-auto">
  <h2 class="mt-3 mb-3">Nome do Produto</h2>
  <hr class="border border-success border-1 opacity-50" />
  <div class="container d-flex">
    <div class="card" style="width: 18rem">
      <img
        src="https://s13emagst.akamaized.net/products/48592/48591223/images/res_0a49cd835e308621c4ce9f501418d2a5.jpg"
        class=""
        alt="..."
      />
    </div>
    <div class="details mb-2">
      <h5 class="ms-3 mb-3">Detalhes do Protudo</h5>
      <p class="ms-3 mb-2"><span>ID: </span> 5</p>
      <p class="ms-3 mb-4"><span>Categoria:</span> Smartphone</p>
      <h4 class="ms-3 mb-2"><span>Preço:</span> R$ 500</h4>
      <div class="ms-3 mt-5">
        <button class="btn btn-success bi bi-cart4" type="button">
          Comprar
        </button>
      </div>
    </div>
  </div>
</div>
