<div class="add-product container col-md-4 mt-5 mx-auto">
  <h3>Cadastro de Produtos</h3>
  <p class="message-p">{{ addProductMessage }}</p>
  <form #addProduct="ngForm" (ngSubmit)="adicionarProduto(addProduct.value)">
    <!-- Nome Produto -->
    <label class="form-label mt-3" for="name">Nome do Produto</label>
    <input
      class="form-control"
      type="text"
      ngModel
      name="name"
      placeholder="Digite o nome do Produto"
    />
    <!-- Preço Produto -->
    <label class="form-label mt-3" for="price">Preço</label>
    <input
      class="form-control"
      type="number"
      ngModel
      name="price"
      placeholder="Preço do produto em R$"
    />
    <!-- Quantidade Produto -->
    <label class="form-label mt-3" for="qtd">Quantidade</label>
    <input
      class="form-control"
      type="number"
      ngModel
      name="qtd"
      placeholder="Quantas unidades deseja adicionar?"
    />
    <!-- Categoria Produto -->
    <label class="form-label mt-3" for="category">Categoria</label>
    <input
      class="form-control"
      type="text"
      ngModel
      name="category"
      placeholder="Categoria do Produto"
    />
    <!-- Imagem Produto -->
    <label class="form-label mt-3" for="img">Imagem do Produto</label>
    <input
      class="form-control"
      type="text"
      ngModel
      name="img"
      placeholder="URL"
    />
    <button class="btn btn-success mt-3">Adicionar</button>
  </form>
</div>
